<!DOCTYPE html>
<html>
<body>

<h1>Open markets</h1>

<!-- <form action="{% url 'get_update' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Refresh">
</form> -->

<form action="/filter_time/" method="post">
    {% csrf_token %}
    <label>Show all markets open before the timestamp: </label>
    <input type="text" name="filter_time" placeholder="Timestamp" maxlength="100" required>
    <input type="submit" value="OK">
</form>

<form action="/filter_address/" method="post">
    {% csrf_token %}
    <label>Show all markets that belong to this address: </label>
    <input type="text" name="filter_address" placeholder="Address" maxlength="100" required>
    <input type="submit" value="OK">
</form>

<form action="/markets/" method="post">
    {% csrf_token %}
    <input type="submit" value="Reset">
</form>

{% if error %}
<p>{{ error }}</p>
{% endif %}

<p>Showing {{ mymarket|length }} markets</p>

<table class="center">
    <thead>
        <tr>
            <th>timestamp</th>
            <th>transactionhash</th>
            <th>address</th>
        </tr>
    </thead>
    <tbody>
        {% if mymarket %}
            {% for x in mymarket %}
            <tr>
                <td>{{ x.timestamp }}</td>
                <td>{{ x.transactionhash }}</td>
                <td>{{ x.address }}</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">No markets found.</td>
            </tr>
        {% endif %}
    </tbody>
</table>

</body>
</html>